[Unit]
Description=Setup Flatpak at first system boot
ConditionPathExists=!%h/.local/share/flatpak/.seeded

[Service]
Type=oneshot
ExecStart=/bin/sh -c '\
  flatpak --user remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo && \
  flatpak --user install -y org.mozilla.firefox com.google.Chrome com.discordapp.Discord com.github.tchx84.Flatseal md.obsidian.Obsidian app.devsuite.Ptyxis org.telegram.desktop \
'
ExecStartPost=/bin/sh -c '\
  mkdir -p %h/.local/share/flatpak && \
  echo "File to signal Systemd that flatpak was setup" > %h/.local/share/flatpak/.seeded \
'

[Install]
WantedBy=default.target
